{% extends 'auth/base.html' %}

{% block head %}
<title>Sign up</title>
{% endblock %}

{% block body %}
<h1>Sign up</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="notification is-danger">
    {{ messages[0] }}
  </div>
{% endif %}
{% endwith %}

<div>
  <form action="/register" method="post">
    {{ form.hidden_tag() }}
    {{ form.name() }}
    {{ form.email() }}
    {{ form.password() }}
    <button type="submit" value="Signup" name="signup">Sign up</button>
  </form>
</div>
{% endblock %}
